{% extends "contenido/encabezado.html" %} 
{% block titulo %}Cursos{% endblock titulo %} 

{% block contenido %}
<div class="container mt-5">
  <h1>Cursos</h1>
  <p>Los cursos a impartir son los siguientes:</p>
  <br />
  <ul>
    <li>Bases de Datos</li>
    <li>Python</li>
    <li>Ciberseguridad</li>
    <li>Redes</li>
  </ul>

  <div class="row position-static">
    <div class="card m-3" style="width: 18rem">
      <img
        src="https://import.cdn.thinkific.com/643563/ElkZcZDBQhKZrgIMrNdO_ASTRO-COVER1.jpg"
        class="card-img-top"
        alt="Curso de Astrología"
      />
      <div class="card-body">
        <h5 class="card-title">Curso de Astro</h5>
        <p class="card-text">
          Aprende a crear sitios estaticos con Atro, el futuro de la
          programacion
        </p>
        <a
          href="https://link-al-curso-de-astrologia.com"
          class="btn btn-primary"
          >Ir al curso</a
        >
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <img
        src="https://import.cdn.thinkific.com/643563/ZaBTJQwkRmeCPWyq4GbO_NEST-REPORTS-COVER.jpg"
        class="card-img-top"
        alt="Curso de Informes NEST"
      />
      <div class="card-body">
        <h5 class="card-title">Curso de Informes NEST</h5>
        <p class="card-text">
          Descubre cómo generar y analizar informes NEST para mejorar tus
          decisiones de negocio.
        </p>
        <a
          href="https://link-al-curso-de-informes-nest.com"
          class="btn btn-primary"
          >Ir al curso</a
        >
      </div>
    </div>
  </div>
  {% endblock contenido %}
</div>
